.ui.container {
    padding-top: 4em;
}
table {
    width: 30vw;
    height: 30vw;
    border-spacing: 0;
    text-align: center;
    box-shadow: 0 0 30px 8px black;
    margin: 2em auto;
}
td {
    width: 33.33%;
    height: 33.33%;
    transition: all 0.2s ease;
    position: relative;
}
td>p {
    position: absolute;
    right: 1em;
    top: 1em;
    opacity: 0.3;
}
td.even {
    background-color: white;
}
td.odd {
    background-color: rgb(200, 200 ,200);
}
td>i {
    font-size: 6vw !important;
}
.ui.header>i.icon {
    margin-right: 0.25em !important;
    font-size: 1em;
    vertical-align: baseline;
}
