svg {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.14),
              0 1px 5px rgba(0, 0, 0, 0.12),
              0 2px 1px -2px rgba(0, 0, 0, 0.2);
}
path {
  fillopacicy: 0;
  stroke: dodgerblue;
}
circle {
  fill: darkblue;
  transition: all 0.3s ease;
}
text {
  fill: white;
  text-anchor: middle;
  font-family: monospace;
  alignment-baseline: middle;
  pointer-events: none;
}
