.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}
#board {
    padding: 0.5em 0.45em;
    width: 81vmin;
    height: 90vmin;
    display: flex;
    flex-flow: row wrap;
    box-sizing: content-box;
    border-spacing: 0;
    box-shadow: 0 0 20px black;
    background-color: #FFE0B2;
    z-index: 0;
    transition: transform 2s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.cell {
    height: 9vmin;
    width: 9vmin;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    z-index: 1;
    transition: background-color 0.2s ease;
}
.cell.movable {
    background-color: #ffcc80;
    cursor: pointer;
}
.cell.attackable {
    background-color: #FFAB91;
    cursor: pointer;
}
.cell.selected {
    z-index: 3;
}
.chess {
    font-size: 3.5vmin;
    font-family: 'Noto Serif CJK TC', serif;
    font-weight: 600;
    height: 8vmin;
    width: 8vmin;
    line-height: 8vmin;
    border-radius: 50%;
    text-align: center;
    color: white;
    transition: all 0.2s ease;
    cursor: pointer;
    z-index: 3;
}
.chess.floating {
    box-shadow: 0 0 10px 0px black;
}
.cell.selected .chess {
    box-shadow: 0 0 10px 0px black;
    transform: scale(1.2, 1.2) translateZ(-10px);
}
.red.chess {
    background-color: #B71C1C;
}
.black.chess {
    background-color: #212121;
    transform: rotate(180deg);
}
.line {
    z-index: 2;
    opacity: 0.1;
    pointer-events: none;    
    position: absolute;

}
.verticle.line {
    height: 100%;
    width: 1px;
    top: 0;
    border-left: 1px solid black;
}
.verticle.line.up-only {
    height: 50%;
}
.verticle.line.down-only {
    top: 50%;
    height: 50%;
}
.horizontal.line {
    height: 1px;
    width: 100%;
    left: 0;
    border-top: 1px solid black;
}
.horizontal.line.left-only {
    width: 50%;
}
.horizontal.line.right-only {
    width: 50%;
    left: 50%;
}
.diagonal.line {
    border-bottom: 1px solid black;
    width: 282%;
    transform: rotate(45deg);
}
.reversed.diagonal.line {
    transform: rotate(-45deg);
}
.cross {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.1;
    z-index: 2;
}
.cross>div {
    width: 22%;
    height: 22%;
    position: absolute;
}
.cross>.lower {
    border-top: 1px solid black;
    bottom: 20%;
}
.cross>.upper {
    top: 20%;
    border-bottom: 1px solid black;
}
.cross>.right {
    right: 20%;
    border-left: 1px solid black;
}
.cross>.left {
    left: 20%;
    border-right: 1px solid black;
}

.settings {
    position: absolute;
    right: 2rem;
    top: 1rem;
    font-size: 4em;
    width: 4rem;
    display: flex;
    flex-direction: column;
    opacity: 0.3;
    transition: all 0.2s ease;
}
.settings:hover {
    opacity: 1;
}
.settings i.icon {
    margin: 0;
    line-height: 1em;
    margin-top: 10px;
}
.settings i.exchange.icon {
    margin-top: 1em;
}

.info {
    position: absolute;
    left: 1rem;
    top: 1rem;
    opacity: 0.3;
    transition: all 0.2s ease;
}
.info:hover {
    opacity: 1;
}