svg {
  padding: 3%;
}
path {
  fillopacity: 0;
  stroke: rgba(30, 144, 255, 0.1);
}
circle {
  fill: darkblue;
  transition: all 0.3s ease;
}
text {
  fill: white;
  text-anchor: middle;
  font-family: monospace;
  alignment-baseline: middle;
  pointer-events: none;
}

.hint {
  font-size: 0.8rem;
  color: #9e9e9e;
}
