body, .ui.header {
  font-family: 'Roboto'
}
code {
  font-family: 'Roboto Mono'
}
div.ui.main.container {
  margin-top: 2em;
}
div#svg-container {
  padding: 2em;
  display: inline-block;
}
div#table-container {
  display: inline-block;
  overflow-y: auto;
  vertical-align: top;
  margin-left: 2em;
}
div#info .ui.header {
  margin-bottom: 0.5rem;
}
div#info > div.segment div {
  margin-bottom: 2em;
}
div#info > div.segment > div > div:last-child {
  margin-bottom: 0;
}
div#ans > * {
  display: inline-block;
  margin-right: 1ex;
}
div.ui.left.attached.rail div.ui.button {
  margin-bottom: 2em;
}
tr {
  transition: all 0.3s ease;
}
circle {
  transition: all 0.3s ease;
}
